{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "script",
  },
  "extends": "standard",
  "env": {
    "node": true
  },
  "plugins": [
    "filenames",
    "markdown"
  ],
  "rules": {
    "filenames/match-regex": [2, "^[a-z][a-z0-9]+(-[a-z0-9]+)*$"],
    "filenames/no-index": 2
  }
}
