language: node_js

node_js:
  - "node"
  - "6"

script:
  - npm test

after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < lcov.info

notifications:
  email:
    on_success: never
    on_failure: change

env:
  - CXX=g++-4.8
  
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
